# See http://help.github.com/ignore-files/ for more about ignoring files.
/reports/

.next
.next-export
**/.cache-loader/

.env
.now
.vercel
.cache
*.nx-tmp

firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
yarn-error.log
mr-modulith.log
mr-graphql-mesh.log

server.js
server.js.map
server.d.ts
cluster.js
cluster.js.map
cluster.d.ts

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# build tooling hackiness
/.firebaserc
/firebase.json
.runtimeconfig.json
/firestore.rules
firebase-function.log

# remove this
/functions
cypress_install_cache/
